@media (min-width: 768px) and (max-width: 900px) {
  /*-------------MAIN BLOCK-----------*/
  .list {
    width: 40%;
    margin-bottom: 40px;
    margin-left: 10%;
    padding-top: 36px;    
    text-transform: uppercase;  
  }
  
  .categories__content {
    height: 80vw;    
    margin-left: 125px;     
  }
  /*---------END OF MAIN BLOCK---------*/
}