@media all and (-ms-high-contrast:none)
{
  /*--------------MAIN BLOCK-------------------*/
  .main-content {
  	display: block;
  }
  /*------------END OF MAIN BLOCK--------------*/
  
  /*----------------PORTFOLIO------------------*/
  .categories__content {
    height: 1000px;  
  }
  /*---------------END OF PORTFOLIO------------*/
}
@media (min-width: 320px) and (max-width: 768px) and (-ms-high-contrast:none) {
  .footer-nav {    
    width: 80%;
    margin: 10px 10%;      
  }
}